* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto; 
}

/* Headline */
.headline {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.headline img {
  width : 100%;
  height: 350px;
  object-fit: cover;
}

.headline-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(transparent, rgba(0,0,0,0.8));
  color: #fff;
}

.headline-text span {
  background: #007bff;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.headline-text h1 {
  margin-top: 10px;
  font-size: 26px;
}

/* News Grid */
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.news-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);;
}

.news-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.news-content {
  padding: 15px;
}

.news-content h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.news-content p {
  font-size: 13px;
  color: #666;
}

/* Responsive */
@media (max-width: 600px) {
  .headline img {
    height: 250px;
  }
}
